* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
}

nav {
   background-color: rgb(255, 105, 0);
   height: 50px;
   color: white;
   padding-top: 15px;
   font-size: 13px;
}

.container {
   max-width: 980px;
   margin: 0 auto;
}

.flex {
   display: flex;
}

li {
   list-style: none;
}

li a {
   text-decoration: none;
   color: white;
   padding-right: 15px;
}

.boolean-logo {
   width: 100px;
}

i {
   padding-right: 10px;
}

main {
   padding-top: 50px;
}

.box-img{
   width: 33.3%;
}
.top-box{
   position: relative;
}
.img-text{
   color: white;
   font-weight: bold;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 10px;
   font-size: 13px;
}
.discount{
   position: absolute;
   bottom: 0;
   margin-bottom: 35px;
   background-color: rgb(255, 0, 0);
}
.sustainability{
   background-color: rgb(0, 128, 0);
   position: absolute;
   bottom: 0;
   margin-left: 15px;
}
.favorite{
   position: absolute;
   top: 0;
   background-color: white;
   margin-top: 10px;
}
.new-price{
   color: red;
   font-weight: bold;
}
.old-price{
   text-decoration: line-through;
}